# .env

DB_HOST=192.168.0.102
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=@dm1n
DB_NAME=ecommerce_menswear_prod


MINIO_ENDPOINT=https://menswear-image-api.sonita.xyz
#MINIO_ENDPOINT=http://192.168.0.106:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ecommerce-menswear


JWT_SECRET=8d7ce3a6-e90f-4bcf-9aea-03a3af1c70d7
JWT_ISSUER=http://localhost:8088
JWT_ACCESS_TOKEN_DURATION=900000
JWT_REFRESH_TOKEN_DURATION=2592000000


#ABA PAYWAY SANDBOX
ABA_PAYWAY_URL=https://checkout-sandbox.payway.com.kh
ABA_MERCHANT_NAME="Testing Account"
ABA_MERCHANT_ID=atech2
ABA_MERCHANT_API_KEY=d890be99dcc2075ab27262c2bba4812d54188b91

#ABA PAYWAY
#ABA_PAYWAY_URL=https://checkout.payway.com.kh
#ABA_MERCHANT_NAME="BORIN SONITA"
#ABA_MERCHANT_ID=DemoMerchant
#ABA_MERCHANT_API_KEY=7cddf4859eec8ca58ecaab39b6578c4ba691e28f
